av-transcript {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

video {
  display: block;
  width: 500px;
  height: auto;
}

form {
  flex-grow: 1;
}

input {
  width: 100%;
  border: none;
  padding: none;
  font-size: 1rem;
}

*:focus {
  outline: 3px solid dodgerblue;
  outline-offset: 3px;
}

button {
  background: transparent;
  border: 1px solid lightgray;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.transcript-wrapper {
  padding: 1rem;
  height: 75vh;
  overflow-y: scroll;
  border: 1px solid lightgray;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cue--focus {
  .cue-select-button {
    background-color: #111;
    color: white;
    border-color: black;
  }
}

.cue-pause-button {
  display: none;
}

.is-playing {
  .cue-play-button {
    display: none;
  }

  .cue-pause-button {
    display: inline-block;
  }
}

.cue {
  margin-block-end: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
}
